body {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0px;
}

.wrapper .button-wrapper {
  position: relative;
  background-color: rgba(0, 0, 0, 0.3);
  width: 400px;
  margin: 0 auto;
  height: inherit;
  /* box-shadow: -3px 0px 10px 0px #3b342b inset,3px 0px 10px 0px #3b342b inset; */
  border-left: 5px solid rgba(59, 52, 41, 0.6);
  border-right: 5px solid rgba(59, 52, 41, 0.6);
  color: #fff;
  font-family: "Comic Sans MS", cursive, sans-serif
}

.wrapper .button-wrapper .flex-w {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrapper .button-wrapper .button-item {
  position: relative;
  width: 60%;
  height: 50px;
  margin: 0 auto;
  background-color: rgba(64, 55, 56, 0.5);
  border-radius: 25px;
  border: 1px solid #dbdbdb;
}

.wrapper .button-item .ball {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fefbff;
  /* background: -webkit-liner-gradient(10px 10px, circle, #fff, #000); */
  background: radial-gradient(ellipse at center, black 0%, rgba(128, 42, 42, 0) 90%);
}

.wrapper .button-item .ball::before {
  content: '';
  position: absolute;
  margin: auto;
  width: 20px;
  height: 15px;
  z-index: 100;
  top: 10px;
  left: 6px;
  /* border-radius: 110% 40% 100% 10%; */
  transform: rotate(-30deg);
  background-color: #000;
  /* border-top-left-radius: 20px;
  border-top-right-radius:20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px; */
  border-radius: 50%;
  background: -moz-radial-gradient(center, ellipse cover, white 0%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-radial-gradient(center, ellipse cover, white 0%, rgba(255, 255, 255, 0) 100%);
  background: radial-gradient(ellipse at center, white 0%, rgba(255, 255, 255, 0.5) 100%);
  filter: blur(2px);
}

.wrapper .button-item .text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.wrapper .button-item .line-one {
  position: absolute;
  width: 90%;
  height: 50px;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 25px;
  border-bottom: 5px solid #5d586a;
  border-left: 5px solid #5d586a;
  top: 5px;
  left: -1px;
}

.wrapper .button-item .icon {
  position: absolute;
  width: 224px;
  height: 65px;
  top: -8px;
  left: -8px;
}